@model PROJETOMVC.ViewModel.LunchListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<h1>@ViewData["nome"]</h1>
<h2>@ViewBag.numero</h2>
<h2>@TempData["valortemp"]</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>@Model.categoria</p>
<h1 style="text-align: center; margin-bottom: 50px">Todos os lanches</h1>

<div class="container">
    <div class="row">
        @foreach (var lanche in Model.lanches)
        {
            <partial name="_LanchesResumo" for="@lanche" />
        }
    </div>
</div>