@model IEnumerable<PROJETOMVC.Models.Lunch>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<h1>@ViewData["nome"]</h1>
<h2>@ViewBag.numero</h2>
<h2>@TempData["valortemp"]</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<h1 style="text-align: center; margin-bottom: 50px">Todos os lanches</h1>

@foreach(var lanche in Model){
    <div class="lunchs">
        <h4> Lanche : @lanche.Name</h4>
        <p><img src="https://th.bing.com/th/id/OIP.aoRZYH65wJCiz2SDTo46nQHaE8?pid=ImgDet&rs=1" /></p>
        <p>Preço : @lanche.Price.ToString("c")</p>
    </div>
}